NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_PADDLE_ENV=sandbox
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=test_your_client_side_token
NEXT_PUBLIC_PADDLE_SOLO_MONTHLY_PRICE_ID=pri_solo_monthly
NEXT_PUBLIC_PADDLE_SOLO_ANNUAL_PRICE_ID=pri_solo_annual
NEXT_PUBLIC_PADDLE_TEAM_MONTHLY_PRICE_ID=pri_team_monthly
NEXT_PUBLIC_PADDLE_TEAM_ANNUAL_PRICE_ID=pri_team_annual
NEXT_PUBLIC_PADDLE_BUSINESS_MONTHLY_PRICE_ID=pri_business_monthly
NEXT_PUBLIC_PADDLE_BUSINESS_ANNUAL_PRICE_ID=pri_business_annual
